---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
---

<Layout title="About Rythm Nation Blog">
  <!-- about -->
  <Main>
    <H1 text="About Page" />
  </Main>
</Layout>
