---
type Props = {
  link: string;
  text: string;
};

const { text, link } = Astro.props;
---

<div class="bg-gray-100 flex justify-center py-20 rounded-xl">
  <a
    href={link}
    class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl decoration-none"
    >{text}</a
  >
</div>
