---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "Site Title",
  description = "website description goes here",
  image = "images/band.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:type" content="image/png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen grid grid-rows[auto,1fr,auto]">
    <!-- Layout -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>
